@media (prefers-color-scheme: dark) {
  :root {
    --body_dark: #151437;
    --title: #7177f1;
  }

  body {
    background-color: var(--body_dark);
  }

  .logo::after {
    content: url(../image/MYWORKDARK.svg);
  }

  .header_menu {
    background: #fff;
  }

  .header_menu::after,
  .header_menu::before {
    background-color: #fff;
  }
}
